.productWheel{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 800px){
    .productWheel{
        width: 95%;
        display: block;
    }
}