<div class="container">
    <div class="login-form">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <h2>Geregistreerde Klanten</h2>
        <hr>
            <div class="form-group">
                <label for="email">Email: </label>
                <input
                ngModel
                required
                email
                type="text"
                id="email"
                name="email"
                class="form-control">

                <label for="password">Wachtwoord: </label>
                <input 
                ngModel
                required
                minlength="6"
                type="password"
                id="password"
                name="password"
                class="form-control">

                <a>Wachtwoord vergeten?</a>

                <button 
                [disabled]="!form.valid"
                class="btn btn-primary"
                type="submit">Login</button>
            </div>
        </form>

        <div class="new-account">
            <h2>Nieuwe Klanten</h2>
            <hr>
            <p>Bent u nog geen klant bij ons? klik dan op deze knop op een account te maken.
                met een account kunnen wij uw winkelmand beter naar uw wens maken.
            </p>
            <button 
            class="btn btn-primary"
            (click)="onRegister()"
            type="button">Account aanmaken</button>
    </div>
</div>


