.float-container{
    margin: 0 20%;
    position: relative;

    .product-child{
        width: 50%;
        float: left;
        padding: 3em;
        text-align: center;
        img{
            text-align: center;
            max-width: 100%;
        }
        h3, h1, p, ul, li{
            text-align: left;
            list-style: none;
            text-decoration: none;
        }
    }
}