
@import '../../styles';

nav{
  .logo{
    background-color: white;
    img{
        margin: 5px;
      max-width: 150px;
    }
  }

  .navbar-container{
      background-color: rgb(187, 127, 127);
          ul{
            display: flex;
            width: 20%;
            list-style: none;
            padding: 5px;
            li{
              border-right: 1px solid black;
                flex: 1;
                text-align: center;
                a {
                  text-decoration: none;
                  color: white;
                  font-size: 1.2em;
                  padding: 1.5rem;
                  display: block;
                    }
                &:hover {
                    background-color: rgb(230, 159, 159);
                }
            }
        }
    }
}