.container{
    display: block;
}

.shopping-cart{
    position:absolute;
    background-color: wheat;
    border: 1px solid rgb(212, 185, 135);
    padding:0 2em;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 20em;
    p{
        background-color: red;
        margin-top: 1.5em;
        margin-right: 1em;
        text-align: right;
    }
}