.container{
    margin: 0 20%;
    display: flex;
        flex-wrap: wrap;
        .searchbar-left{
            width: 0%;
            padding: 10px;
            background-color: lightgray;
            height: 100%;
        }
        .product-child{
            width: 100%;
            padding: 10px;

            .card-container{
                display: grid;
                grid-template-columns:auto auto auto;
            }
        }
}

@media only screen and (max-width: 1380px){
    .container{
    margin: 0 5%;
        .product-child{
            width: 78%;
            padding: 0px;

            .card-container{
                grid-template-columns:auto auto;
            }
        }
    }

}

@media only screen and (max-width: 800px){
    .container{
    margin: 0 0%;
        .product-child{
            width: 78%;
            padding: 0px;

            .card-container{
                grid-template-columns:auto;
            }
        }
    }
}
@media only screen and (max-width: 650px){
    .container{
        display: block;
        flex-wrap: wrap;
        .searchbar-left{
            width: 100%;
        }
        .product-child{
            width: 100%;
        }
    }
}
