<div class="ui card">
    <div class="image">
        <img src="https://imgholder.ru/323x300/3d4d65/eceff4">
    </div>
    <div class="content">
        <a class="header">--Product.name--</a>
        <div class="meta">
        <span class="date">--Product.price--</span>
        </div>
    <div class="extra content">
    </div>
    </div>
</div>

<div class="ui card">
    <div class="image">
        <img src="https://imgholder.ru/323x300/3d4d65/eceff4">
    </div>
    <div class="content">
        <a class="header">--Product.name--</a>
        <div class="meta">
        <span class="date">--Product.price--</span>
        </div>
    <div class="extra content">
    </div>
    </div>
</div>

<div class="ui card">
    <div class="image">
        <img src="https://imgholder.ru/323x300/3d4d65/eceff4">
    </div>
    <div class="content">
        <a class="header">--Product.name--</a>
        <div class="meta">
        <span class="date">--Product.price--</span>
        </div>
    <div class="extra content">
    </div>
    </div>
</div>

<div class="ui card">
    <div class="image">
        <img src="https://imgholder.ru/323x300/3d4d65/eceff4">
    </div>
    <div class="content">
        <a class="header">--Product.name--</a>
        <div class="meta">
        <span class="date">--Product.price--</span>
        </div>
    <div class="extra content">
    </div>
    </div>
</div>

<div class="ui card">
    <div class="image">
        <img src="https://imgholder.ru/323x300/3d4d65/eceff4">
    </div>
    <div class="content">
        <a class="header">--Product.name--</a>
        <div class="meta">
        <span class="date">--Product.price--</span>
        </div>
    <div class="extra content">
    </div>
    </div>
</div>