.button-content{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;

    .card-button{
        border: 0;
        background-color: transparent;

        img{
            width: 3.5em;
        }
    }
}