.button-content{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;

    .card-button{
        background-color: whitesmoke;
        border: none;
        padding: 10px;
        display: inline-block;
        font-size: 16px;
        margin: 4px 20px;
        border-radius: 50px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;

        img{
            width: 3.5em;
            border-radius: 50px;
        }
    }
}

.button-content :hover{
    background-color: whitesmoke;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    color: #fff;
    transform: translateY(-3px);
}

.button-content :active{
    background-color: white;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    color: #fff;
    transform: translateY(3px);
}