<form (ngSubmit)="submit(form)" #form="ngForm">
    <button class="btn btn-primary" type="submit">Filter</button>
    <button class="btn btn-primary" (click)="clearFilter()" type="button">Leeg Filter</button>
    <!-- Thema -->
    <hr>
    <label for="theme">Thema:</label>
    <br>
    <input  ngModel type="text" name="thema">
    <!-- Totaal -->
    <hr>
    <label for="Price">Total:</label>
    <input  ngModel type="range" name="price" min="0" max="100">
    <!-- Maat -->
    <hr>
    <label for="size">Maat:</label><br>
    <div *ngFor="let maat of size">
        <input (click)="sizeChecker($event)" class="size" ngModel type="checkbox" id="{{maat}}" name="size" value="{{maat}}">
        <label for="size"> {{maat}}</label><br>
    </div>
    <!-- Beschikbaar -->
    <hr>
    <label for="avalable">Beschikbaar:</label><br>
    <input ngModel type="checkbox" id="avalable" name="avalable" value="true">
    <label for="avalable">Ja</label><br>
    <!-- Geslacht -->
    <hr>
    <label for="sex">Geslacht:</label><br>
    <input (click)="sexChecker($event)" ngModel type="checkbox" id="sex" name="sex" value="man">
    <label for="sex"> Man</label><br>

    <input (click)="sexChecker($event)" ngModel type="checkbox" id="sex" name="sex" value="vrouw">
    <label for="sex"> Vrouw</label><br>
</form>
